/target/
**/test/resources/LuceneRepos/
**/test/resources/NativeRepos/
*/target/
*/nbactions.xml
*/nbproject/
nbactions-official.xml
nbactions.xml
*/geographica.log
scripts/h2embeddedreportsource/geordfbench.mv.db
scripts/h2embeddedreportsource/geordfbench.trace.db
*/scripts/*/*.log