/target/
**/test/resources/LuceneRepos/
**/test/resources/NativeRepos/
**/test/resources/Results_Store/
*/target/
*/nbactions.xml
*/nbproject/
nbactions-official.xml
nbactions.xml
nb-configuration.xml
*/geographica.log
scripts/h2embeddedreportsource/geordfbench.mv.db
scripts/h2embeddedreportsource/geordfbench.trace.db
*/scripts/*/*.log
.idea/
*/nb-configuration.xml