extends layout

block content

    .container-fluid
        .col-12
            .row 
                .col-md-3
                    .table-responsive
                        table.table.table-light.table-striped.table-hover.table-bordered.caption-top 
                            caption= locals.title || 'Please pass a title property'
                            thead.thead-dark 
                                tr
                                    th Category
                            tbody.table-group-divider
                                each record in records
                                    tr 
                                        td= record

block response