extends layout

block content
  .container
    .row.justify-content-center
      .col-md-8
        .alert.alert-danger
          h1.h4 #{message}
          if error && error.stack
            pre #{error.stack}
          else if error
            pre #{error}
        a(href="/").btn.btn-primary Go Home
